#map {
    height: 600px;
    width: 75%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: normal;
}

p {
    text-align: center;
    margin-top: 20px;
}

